{{preview-list title="Art" entries=model}}

<h2>Things I will put in this page:</h2>
<ul>
  <li>Bitcamp Art</li>
  <li>Technica Art</li>
  <li>ARTT110 stuff</li>
  <li>Architectural Drawing</li>
  <li>High school stuff</li>
</ul>
