<h3>Coding</h3>

{{preview-list
  entries=model.entries
  title=title
}}

<!--
  I could probably create a general template for all routes, then use the same template/extend off of a base component?
  -->

<h2>Things I will put in this page:</h2>
<ul>
  <li>Alarm.com Work</li>
  <li>WEBS Work</li>
  <li>DAGR App (Databases)</li>
  <li>Software Engineering Join Tables Project Thing (remember front advertising page)</li>
  <li>Car Park App</li>
  <li>MATLAB principal component analysis</li>
  <li>Myo armband thing?</li>
</ul>