{{preview-list title="Sewing" entries=model}}

<h2>Things I will put in this page:</h2>
<ul>
  <li>Skirt + misc clothing stuff? idk</li>
  <li>Kotori</li>
  <li>Zelda</li>
  <li>Chihiro + computer head</li>
  <li>Princess Bubblegum</li>
</ul>